body{
    --color_border: rgb(81, 171, 245);
    --color: rgb(225, 241, 255);
}

.block{

    margin-top: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.input__data{
    width: 35%;
    margin-right: 5%;
    
}
.block__data{
    width: 35%;
    margin-left: 5%;
}
.block__line{
    background-color: rgb(26, 25, 25);
    width: 3px;
}
.block__data > label{
    text-align: center;
    display: block;
    font-weight: bold;
}
.input__data > label{
    text-align: center;
    display: block;
    font-weight: bold;
}
.block input{
    height: 30px;  
    width: 200px;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.input__data-label{
    width: 180px;

}
.size{
    width: 190px;
}

.alphabet{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    margin-bottom: 1%; 
}
.nav__alphabet{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
}
.nav__alphabet-download{
    margin-right: 2%;
    
}
.nav__alphabet > button{
    border-radius: 15px !important;
}
fieldset{
    margin: auto 10% !important;
}
.alphabet__grid{
    flex-grow:8;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    align-content: flex-start;
    justify-items: stretch; 
    
}
.alphabet__grid > div{
    background-color: rgb(197, 197, 197);
    text-align: center;
    margin: 1px;
}
.alphabet__choose{
    flex-grow: 1;
    /* background-color: rgb(221, 243, 250); */
    padding-left: 5% !important;
    padding: 2%;
    border-left: rgb(24, 23, 23) 3px solid;
}
fieldset{
    margin-bottom: 2% !important;
}
.alphabet-count{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 2%;
}
.flex-rigth{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1%;
}
.flex-rigth > button{
    border-radius: 15px !important;
}
.count{
    display: inline;
}

.margin{
    margin-right: 1%;
}
textarea{
    height: 100px !important;
}