body{
    --color: rgb(228, 225, 225);

}

.block{

    margin-top: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.input__data{
    width: 35%;
    margin-right: 5%;
    
}
.block__data{
    width: 35%;
    margin-left: 5%;
}
.block__line{
    background-color: rgb(26, 25, 25);
    width: 3px;
}
.block__data > label{
    text-align: center;
    display: block;
    font-weight: bold;
}
.input__data > label{
    text-align: center;
    display: block;
    font-weight: bold;
}
.block input{
    height: 30px;  
    width: 200px;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.input__data-label{
    width: 180px;

}
.size{
    width: 190px;
}

.alphabet{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    margin-bottom: 1%; 
}
.nav__alphabet{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
}

.nav__alphabet > button{
    border-radius: 15px !important;
}
fieldset{
    margin: auto 10% !important;
}
.alphabet__grid{
    flex-grow:8;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    align-content: flex-start;
    justify-items: stretch; 
    
}
.nav__alphabet-show{
    margin-right: 2%;
}
.alphabet__grid > div{
    background-color: var(--color);
    text-align: center;
    margin: 1px;
}
.alphabet__choose{
    flex-grow: 1;
    /* background-color: rgb(221, 243, 250); */
    padding-left: 3% !important;
    padding: 2%;
    border-left: rgb(24, 23, 23) 3px solid;
}
fieldset{
    margin-bottom: 2% !important;
}
.alphabet-count{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 2%;
}
.flex-rigth{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1%;
}
.flex-rigth > button, .codeword__nav > button{
    border-radius: 15px !important;
}
.count{
    display: inline;
}

.margin{
    margin-right: 1%;
}
textarea{
    height: 100px !important;
}
.item{
    cursor: pointer;
    border-width: 2px;
    border: var(--color) 1px solid;
}
.item:hover{
    background-image: linear-gradient(to top left,rgba(161, 156, 156, 0.966), rgba(241, 239, 239, 0.719));
    
}
button:focus{
    outline: none !important;
}

.codeword{
    position: absolute;
    background-color: rgb(252, 252, 252);
    outline: rgb(70, 70, 70) 3px solid;
    top: 18%;
    width: 80%;
    height: auto;
    padding: 1%;
}
.codeword__nav{
    display: flex !important;
    justify-content: flex-end !important;
}
.codeword__nav-save{
    margin-right: 2%;
}
.codeword{
    display: none;
}